.Item {
	flex: 10;
	background-color: green;
	border: blue 3px solid;
	margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#Footer {
    flex: 1;
    background-color: blue;
    /* width: auto;
    height: 40px; */
    display: flex;
}

.Row {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#Content-Container {
    flex: 11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Whole-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#Array-Container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#About-Container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}