* {
    background-color: #35654d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

.title-gamebox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.title-image {
    height: 230px;
    margin: 10px;
    background-color: white;
}

.title-navbutton {
    flex: 2;
    font-size: larger;
    background-color: gray;
}

#main-page-header {
    display: flex;
    justify-content: center;
}

#game {
    display: flex;
    padding: 0 2vw;
    justify-content: space-between;
    width: 96vw;
}

#big-header, #game-state-banner {
    text-align: center;
}

.player-container, #users-box {
    width: 40vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

#divider {
    padding: 3px;
}

.small-header {
    display: flex;
    margin: 1vh;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex: 5;
    justify-content: space-evenly;
    align-items: center;
}

.blackjack-card {
    flex: 1;
    width: 1px;
    margin: 15px;
    border: purple 2px solid;
    max-width: 150px;
}

.control-button {
    flex: 1;
    text-align: center;
    color: black;
    font-size: 15px;
    background-color: lightslategray;
}

#blackjack-play-button {
    display: block;
    padding: 1px 20px;
    color: black;
    font-size: 15px;
    background-color: lightslategray;
}

a {
    color: black;
    text-decoration: none;
}

input {
    display: inline;
    color: black;
}

#win-tracker {
    background-color: black;
    display: flex;
    padding: 1vh 5vw;
    justify-content: space-between;
}

.win-box {
    background-color: black;
    flex: 1;
}

#user-points {
    background-color: black;
}

.actions {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.nav-link {
    flex: 1;
    display: flex;
}

.blackjack-number {
    padding: 0px 0px 0px 3px;
}

#roulette-outline {
    display: flex;
    flex-direction: row;
}

#roulette-wheel {
    height: 1px;
    position: relative;
    flex: 1;
    background-color: transparent;
    max-height: 100vh;
}

.betting-bar {
    font-size: 16px;
    padding: 1vh;
}

.bet-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roulette-vertical-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 80vh;
    align-items: baseline;
}

/* https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html taught me to stack images */
#roulette-pointer {
    background-color: transparent;
    position: absolute;
    width: 30vh;
    transform-origin: 0% 50%;
}

#roulette-rolled-number {
    position: absolute;
    text-align: center;
    background-color: transparent;
}

#roulette-bet-info {
    display: inline;
}

.roulette-bet-number {
    width: 50px;
}

#craps-vertical-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 80vh;
}

#craps-dice {
    flex: 3;
    display: flex;
}

.craps-die {
    max-height: 45vh;
    flex: 1;
}