body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px auto;
  font-size: 16px;
  margin-top: 0px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 8px auto;
  padding: 8px;
  align-items: center;
  margin-bottom: 0px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 125px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
}